* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Recursive", sans-serif;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}